.account {
    @extend %hidden;
    &__content {
        padding: 40px;
        margin-block: 80px;
        @extend %bg-white;
        @include border-radius(4px);
        @include breakpoint(xl) {
            margin-block: 120px;
        }
        &--title {
            @extend %mb-30;
        }
        form {
            input {
                border-color: $border-color;
                &[type='email'] {
                    text-transform: lowercase !important;
                    &::placeholder {
                        text-transform: lowercase !important;
                    }
                }
            }
            label {
                @extend %text-capitalize, %mb-15;
            }
            .lab-btn {
                @extend %border-none, %mb-20;
            }
            p {
                @extend %mb-0;
                a {
                    @extend %theme-color;
                }
            }
        }
    }
    &__list {
        @extend %mb-30;
        &--meta {
            input {
                border-radius: 2px !important;
                @extend %p-0;
                &:focus {
                    box-shadow: none;
                }
            }
            label {
                margin-inline: 10px;
                margin-bottom: 0px !important;
                @extend %title-color;
            }
            a {
                @extend %theme-color, %text-capitalize;
            }
        }
    }
}

.othersOptions {
    @extend %text-center;
    .divider {
        @include margin(30px 0);
        @extend %rel;
        
        span {
            width: 60px;
            height: 60px;
            line-height: 60px;
            border: 2px dashed $theme-color;
            @extend %text-center, %theme-color, %text-700, %d-inline-block, %rel, %text-uppercase;
            @include border-radius(100%);
            &::after, &::before {
                @extend %abs;
                top: 50%;
                width: 100px;
                height: 2px;
                border-bottom: 2px dashed $theme-color;
            }
            &::after {
                left: 100%;
            }
            &::before {
                right: 100%;
            }
        }
    }
}