.appointment {
    background: #F5F5F5;
    @extend %hidden;
    @include padding-bottom(0);
    &__thumb {
        img {
            @include breakpoint(lg) {
                max-width: none;
                @include transform(translateX(30px));
            }
        }
    }
    &__content {
        @include padding(30px);
        @extend %bg-white, %rel;
        z-index: 1;
        @include breakpoint(xxl) {
            // @include transform(translateX(-30px));
        }
        .title {
            @include margin-bottom(20px);
            h2 {
                @include margin-bottom(0);
            }
            p {
                @include margin-bottom(0);
            }
        }
        form {
            input, select, textarea {
                @include padding(15px);
                border: 1px solid $border-color;
                @extend %text-capitalize;
            }
            .lab-btn {
                border: none;
                @include margin-top(30px);
            }
        }
    }
}