.team {
    &__item {
        @include padding(10px);
        @extend %bg-white;
        @include border-radius(4px);
        @include transition($transition);
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            .team {
                &__thumb {
                    img {
                        @include transform(scale(1.1));
                    }
                }
                &__content {
                    h6 a {
                        @extend %theme-color;
                    }
                }
            }
        }
    }
    &__thumb {
        @extend %hidden;
        img {
            @extend %w-100;
        }
    }
    &__content {
        @include padding(15px);
        @extend %text-center;
        h6 {
            @include font-size(20px);
            @include margin-bottom(0);
        }
        span {
            @include margin-bottom(10px);
            @extend %d-block;
        }
        ul {
            li {
                display: inline-flex;
                a {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    border: 1px solid $border-color;
                    @extend %text-center;
                    @include margin(2.5px);
                    @include border-radius(100%);
                    @include transition($transition);
                    &:hover {
                        @extend %bg-theme, %white-color;
                        border-color: $theme-color;
                    }
                }
            }
        }
    }
    &--deatils {
        background: #E3EEFF;
        .section__wrapper {
            @extend %bg-white, %p-30;
            @include border-radius(4px);
        }
        .team {
            &__thumb {
                img {
                    @extend %w-100;
                    @include border-radius(4px);
                }
                &--info {
                    @include breakpoint(lg) {
                        padding-left: 30px;
                    }
                    span {
                        @extend %text-capitalize;
                    }
                    ul {
                        @include margin-top(20px);
                        li {
                            @extend %flex;
                            padding-block: 5px;
                            .left {
                                width: 120px;
                                p {
                                    @extend %mb-0, %title-color, %text-600, %text-capitalize;
                                }
                            }
                            .right {
                                width: calc(100% - 120px);
                                @extend %pl-15, %rel;
                                &::after {
                                    @extend %abs;
                                    content: ":";
                                    left: 0;
                                    top: 0;
                                }
                                p {
                                    @extend %mb-0;
                                }
                                ul {
                                    @extend %mt-0;
                                    li {
                                        @extend %d-inline-block, %p-0, %m-5;
                                        a {
                                            width: 36px;
                                            height: 36px;
                                            line-height: 36px;
                                            @include font-size(14px);
                                            @include border-radius(4px);
                                            @include transition($transition);
                                            @extend %bg-body, %white-color, %d-inline-block, %text-center;
                                            &:hover {
                                                @extend %bg-theme, %white-color;
                                                @include border-radius(100%);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__content {
                text-align: left;
                p {
                    @extend %mb-30;
                }
                .progressbararea {
                    li {
                        padding-block: 15px;
                        display: inherit;
                        .title {
                            p {
                                @extend %mb-10;
                            }
                        }
                    }
                }
            }
        }
    }
}


.progressbararea {
    max-width: 100%;
    li {
        .title {
            @extend %flex, %justify-between;
            p {
                @extend %text-capitalize, %title-color, %text-700;
                span {
                    @extend %title-color;
                }
            }
        }
        .progress {
            height: 6px;
            @extend %bg-title;
            .progress-bar {
                height: 4px;
                @extend %bg-theme;
            }
        }
    }
}
