/*================*** Header Section Start Here     ***===================*/
.header {
    background: transparent;
    position: fixed;
    top: 0px;
    z-index: 999;
    @extend %w-100;
    &--fixed {
        background: $title-color;
        top: 0px;
        @include breakpoint(lg) {
            top: -44px;
        }
        // .header__bottom--area .menupart .cartbtn .cart a {
        //     color: #30aff0;
        //     background-image: linear-gradient(to right top, #fff, #fff, #fff, #fff, #fff);
        // }
    }
    &__top {
        // border-bottom: 1px solid rgba($white-color, $alpha: .3);
        background: $title-color;
        @include breakpoint(max-xl) {
            display: none;
        }
        .info {
            @include breakpoint(max-lg) {
                text-align: center;
            }
            ul {
                li {
                    display: inline-flex;
                    flex-wrap: wrap;
                    @extend %align-items-center, %white-color;
                    padding: 10px 15px;
                    border-right: 1px solid rgba($white-color, $alpha: .1);
                    @include breakpoint(max-lg) {
                        border: none;
                    }
                    &:last-child {
                        border-right: none;
                    }
                    i {
                        @include margin-right(10px);
                        // @extend %theme-color;
                    }
                    span {
                        @include breakpoint(lg) {
                            @include breakpoint(max-xl) {
                                @include font-size(14px);
                            }
                        }
                    }
                }
            }
        }
        &--right {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 10px;
            @extend %align-items-center, %justify-center;
            .user {
                display: inline-flex;
                @include margin-right(15px);
                @include border-radius(4px);
                &__icon {
                    @extend %white-color;
                    @include margin-right(10px);
                }
                ul {
                    li {
                        display: inline-flex;
                        margin-inline: 2.5px;
                        a {
                            @extend %white-color;
                            &:hover, &.active {
                                @extend %theme-color;
                            }
                        }
                    }
                }
            }
            .langauge {
                width: 130px;
                display: inline-flex;
                align-items: center;
                &__icon {
                    @include margin-right(10px);
                    @extend %white-color;
                }
                select {
                    @extend %border-none;
                    box-shadow: none;
                    background: transparent;
                    color: $white-color;
                    padding: 0;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                }
            }
        }
    }
    &__bottom {
        @include padding(15px 0);
        background: $white-color;
        &--area {
            display: inline-flex;
            flex-wrap: wrap;
            @extend %align-items-center, %justify-between, %w-100;
            .logo {
                @include breakpoint(max-sm) {
                    max-width: 75%;
                }
            }
            .menupart {
                @extend %align-items-center, %w-100;
                @include padding(15px 0);
                @include breakpoint(xl) {
                    display: inline-flex;
                    @include padding(0);
                    width: auto;
                }
                @include breakpoint(max-xl) {
                    display: none;
                    &.active {
                        display: inherit;
                        flex-wrap: wrap;
                        background: $title-color;
                        .menu {
                            width: 100%;
                        }
                        .cartbtn {
                            width: 100%;
                            .cart a {
                                background: $white-color;
                                color: $title-color;
                            }
                        }
                    }
                }
                .menu {
                    ul {
                        li {
                            @extend %rel;
                            @include breakpoint(xl) {
                                display: inline-flex;
                            }
                            a {
                                border-bottom: 1px solid rgba($white-color, $alpha: .1);
                                @extend %text-700, %d-block, %white-color;
                                @include padding(10px 15px);
                                @include breakpoint(xl) {
                                    border-bottom: none;
                                    color: $title-color;
                                }
                                &.active {
                                    @extend %theme-color;
                                    &::after, &::before {
                                        background: $theme-color;
                                    }
                                }
                            }
                            &:hover {
                                >a {
                                    @extend %theme-color;
                                }
                                ul {
                                    opacity: 1;
                                    visibility: visible;
                                    top: calc(100% + 0px);
                                }
                            }
                            ul {
                                @extend %bg-white, %d-none;
                                opacity: 0;
                                z-index: 1;
                                visibility: hidden;
                                flex-wrap: wrap;
                                top: calc(100% + 50px);
                                @include transition($transition);
                                @include breakpoint(xl) {
                                    position: absolute;
                                    width: 200px;
                                    display: inherit;
                                }
                                li {
                                    display: block;
                                    @include breakpoint(xl) {
                                        display: block;
                                        width: 100%;
                                    }
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                    a {
                                        border-bottom: 1px solid $border-color;
                                        @extend %title-color;
                                    }
                                }
                            }
                        }
                    }
                }
                .cartbtn {
                    display: inline-flex;
                    @include padding(15px 0);
                    @extend %align-items-center;
                    @include margin-left(15px);
                    @include breakpoint(xl) {
                        @include padding(0);
                    }
                    .cart {
                        a {
                            width: 56px;
                            height: 56px;
                            line-height: 56px;
                            @extend %d-inline-block, %white-color, %text-center;
                            @include border-radius(100%);
                            background: $theme-color2;
                            transition: all .3s ease;
                            &:hover {
                                @extend %bg-theme;
                            }
                        }
                    }
                    .headerbtn {
                        @include margin-left(15px);
                    }
                }
            }
        }
    }
    &__bararea {
        @extend %flex;
        @extend %align-items-center;
    }
    &__bar {
        @extend %rel;
        @extend %pointer;
        width: 25px;
        height: 20px;
        @extend %ml-20;
    
        span {
            @extend %abs;
            @extend %d-inline-block;
            @extend %w-100, %bg-title;
            height: 3px;
            @include transition($transition);
            left: -5px;
    
            &:first-child {
                top: 0;
            }
    
            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
    
            &:last-child {
                bottom: 0;
            }
        }
    
        &.active {
            span {
                &:first-child {
                    @include transform(rotate(45deg) translate(3px, 9px));
                }
    
                &:nth-child(2) {
                    opacity: 0;
                }
    
                &:last-child {
                    @include transform(rotate(-45deg) translate(3px, -9px));
                }
            }
        }
    
        @include breakpoint(max-sm) {
            width: 15px;
            height: 16px;
    
            span {
                height: 2px;
                width: 20px;
            }
    
            &.active {
                span {
                    &:first-child {
                        @include transform(rotate(45deg) translate(4px, 6px));
                    }
    
                    &:nth-child(2) {
                        opacity: 0;
                    }
    
                    &:last-child {
                        @include transform(rotate(-45deg) translate(4px, -6px));
                    }
                }
            }
        }
    }
    &__ellepsis {
        font-size: 20px;
        margin-left: 15px;
        @include margin-right(5px);

        i {
            @extend %pointer;
            color: $title-color;
        }
    }

}


.menu-item-has-children {
    >a {
        @extend %rel;
        &::after {
            @extend %abs;
            top: 50%;
            transform: translateY(-50%);
            right: 25px;
            width: 10px;
            height: 2px;
            background-color: $white-color;
        }

        &::before {
            @extend %abs;
            top: 50%;
            transform: translateY(-50%);
            right: 29px;
            width: 2px;
            height: 10px;
            background-color: $white-color;
            @include transition($transition);
        }

        @include breakpoint(xl) {
            &::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 10px;
                height: 2px;
                background-color: $title-color;
            }

            &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 4px;
                width: 2px;
                height: 10px;
                background-color: $title-color;
                @include transition($transition);
            }
        }


    }

    &:hover {
        >a {
            &:before {
                @include breakpoint(xl) {
                    transform: translate(-50%, -50%) rotate(90deg);
                    opacity: 0;
                }
            }
            &::after, &::before {
                background: $theme-color;
            }
        }
    }

    &.open {
        >a {
            &::after, &::before {
                @extend %white-color;
            }
            &:before {
                @include breakpoint(max-xl) {
                    transform: translate(-50%, -50%) rotate(90deg);
                    opacity: 0;
                }
            }
        }
    }
}

/*================*** Header Section End Here     ***===================*/