.about {
    background: #F5F5F5;
    @extend %hidden;
    &__thumb {
        @extend %rel;
        >img {
            @extend %w-100;
        }
        &--content {
            @extend %abs, %bg-white, %text-center;
            width: 200px;
            bottom: 20px;
            right: 20px;
            @include padding(30px);
            @include border-radius(4px);
            .icon {
                @include margin-bottom(15px);
            }
            .text {
                h2 {
                    sup {
                        @include font-size(75%);
                    }
                }
                p {
                    @include margin-bottom(0);
                }
            }
        }
    }
    &__content {
        @include padding(30px);
        h2 {
            @include font-size(36px);
            @include margin-bottom(20px);
        }
        h6 {
            @include font-size(20px);
            @extend %text-400;
            @include margin-bottom(20px);
        }
        p {
            @include margin-bottom(30px);
        }
    }
}