.service {
    &__item {
        @include padding(10px);
        @extend %bg-white;
        @include transition($transition);
        @include border-radius(4px);
        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
            .service {
                &__thumb {
                    a {
                        img {
                            @include transform(scale(1.2));
                        }
                    }
                }
                &__content {
                    h5 {
                        a {
                            @extend %theme-color;
                        }
                    }
                }
            }
        }
    }
    &__thumb {
        @extend %hidden;
        a {
            @extend %d-block;
            img {
                @extend %w-100;
            }
        }
    }
    &__content {
        @include padding(20px 10px);
        h5 {
            @include font-size(18px);
            @include breakpoint(sm) {
                @include font-size(24px);
            }
            @include breakpoint(xl) {
                @include breakpoint(max-xxl) {
                    font-size: 20px;
                }
            }
            a {}
        }
        p {}
        .text-btn {}
    }
    &--details {
        .service {
            &__maincontent {
                @extend %p-20, %bg-white;
                @include border-radius(4px);
                form {
                    @extend %mt-30;
                    input, textarea {
                        padding: 15px 20px;
                        border: 1px solid $border-color;
                        @include border-radius(4px);
                    }
                    .lab-btn {
                        @extend %border-none;
                    }
                }
                h4 {
                    margin-block: 15px;
                }
                h5 {
                    margin-bottom: 15px;
                }
                img {
                    @extend %mb-15;
                    @include border-radius(4px);
                }
                ul {
                    @include padding-left(20px);
                    li {
                        padding-block: 5px;
                        list-style: decimal;
                        @extend %title-color;
                    }
                }
            }
        }
    }
}