.video {
    background: #f5f5f5;
    @extend %hidden;
    &__thumb {
        @extend %rel;
        &--icon {
            a {
                width: 60px;
                height: 60px;
                line-height: 60px;
                top: 50%;
                left: 50%;
                z-index: 1;
                background: #016738;
                @include font-size(24px);
                @extend %text-center, %white-color, %abs;
                @include border-radius(100%);
                @include transform(translate(-50%, -50%));
                @include transition($transition);
            }
        }
    }
    &__content {
        @include padding(40px);
        @extend %bg-white, %rel;
        @include breakpoint(lg) {
            @include padding(40px 40px 40px 10px);
        }
        &::after {
            @extend %abs, %bg-white, %d-none;
            width: 30px;
            height: 100%;
            right: 100%;
            top: 0;
            z-index: 1;
            @include breakpoint(lg) {
                display: inherit;
            }
        }
        h2 {
            @include breakpoint(max-sm) {
                @include font-size(24px);
            }
        }
        p {
            @include margin-bottom(30px);
        }
        ul {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 30px;
            @include margin-bottom(30px);
            li {
                display: inline-flex;
                gap: 15px;
                .thumb {
                    img {
                        @include border-radius(100%);
                        @extend %hidden;
                    }
                }
                .content {
                    span {
                        @extend %d-inline-block, %text-700, %theme-color;
                    }
                    p {
                        @include margin-bottom(0);
                    }
                }
            }
        }
    }
}
